doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="css/libs.css")
        link(rel="stylesheet" type='text/css' href="css/style.css")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")

        title Корчма Сита Хата | 
            block title
    body
        include ../modules/header
        include ../modules/menu
        block content