.bath.section
	.container
		.row
			h1.text-light.no-margin-top.text-center-sm.text-center-xs.section-head Баня
			.section-head-content
				p Баню в корчмі побудовано за авторським проектом, а інтер'єр виконаний за традицією дерев'яного зруба, не залишать Вас байдужими та обов'язково приведуть до нас знову
				p Мы сможем предложить Вам все условия для качественного отдыха, полноценного восстановления сил и оздоровления вашего организма. Мы предоставляем широкий спектр услуг для любителей русской бани (на дровах), сауны, Вы сможете по-достоинству оценить качество гидротерапии в нашем бассейне с совершенной системой фильтрации.
				p При бронюванні, заставна вартість відвідування 100 гривень, ця сума включена при повному розрахунку, і не повертається при відмові менш, ніж за добу.
				p Ціна складає:
				p Без банкетного залу, одна година - 100 грн. Мінімальне замовлення 2 години. Місткість до 8 чоловік.
				p З банкетним залом, одна година - 130грн. Мінімальне замовлення 2 години. Місткість до 16 чоловік.


			.gallery.text-center
				a(href="img/gallery/bath-gallery-1.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-1.jpg")
				a(href="img/gallery/bath-gallery-2.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-2.jpg")
				a(href="img/gallery/bath-gallery-3.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-3.jpg")
				a(href="img/gallery/bath-gallery-4.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-4.jpg")
				a(href="img/gallery/bath-gallery-5.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-5.jpg")
				a(href="img/gallery/bath-gallery-6.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-6.jpg")
				a(href="img/gallery/bath-gallery-7.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-7.jpg")
				a(href="img/gallery/bath-gallery-8.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-8.jpg")
				a(href="img/gallery/bath-gallery-9.jpg").item
					img.img.img-responsive(src="img/gallery/bath-gallery-9.jpg")
		.row
			.col-sm-6.col-sm-offset-3.text-center.divider
				img(src="img/divider-up.svg")
