.contacts.section
	.container
		.row
			h1.text-light.no-margin-top.text-center-sm.text-center-xs.section-head Контакти
			.col-lg-6.col-sm-12.col-xs-12
				.contacts__block
					.row
						.contacts-adress-section
							.col-xs-1
								i.fa.fa-map-marker
							.col-xs-11
								ul
									li Полтавська область,
									li Решетилівський район,
									li село Хоружі,
									li корчма «Сита Хата»
						.contacts-phone-section
							.col-xs-1
								i.fa.fa-phone
							.col-xs-11
								ul
									li (05363) 2-33-22
									li (098) 682 52 58
						.contacts-mail-section
							.col-xs-1
								i(aria-hidden="true").fa.fa-envelope 
							.col-xs-11
								ul
									li www.sytahata@ukr.net
								ul
			.col-lg-6.col-sm-12.col-xs-12
				.contacts__block
					.google-map-section
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8705.748762023082!2d34.08994222020787!3d49.55559663005658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d7789e847b586b%3A0x873d80d0b1d33dee!2z0KXQvtGA0YPQttC4LCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzg0MDA!5e0!3m2!1sru!2sua!4v1472305465657" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen)

					
