.food-menu.section
        .container
            .row
                h1.text-light.no-margin-top.text-center-sm.text-center-xs.section-head Меню
                p.section-head-content Гастрономічні пропозиції ресторану - це варіації на тему старовинної української кухні та сучасних європейських тенденцій. Широкий вибір мяса та риби, приготованих за традиційними українськими рецептами. Не кажучи про перші страви, вареники, галушки, сало, соління...
                    br
                    | Саме тому у нас по-українському смачно та по-французьки вишукано.
                
                .row.food-menu-item
                    .col-lg-5.col-sm-6.col-xs-12
                        img(src="img/menu/business-lunch-1.jpg" alt="Бізнес-ланч").img-responsive.img-center.menu-img/

                    .col-lg-7.col-sm-6.col-xs-12
                        .menu-box.text-left
                            h3 Бізнес-ланч
                            p Приємно низька ціна, неповторний аромат та домашній смак приготованих справ, різноманітне меню прийдеться Вам до душі. 
                        a(href="menu-pages/lunch.html").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
              
                .row.food-menu-item
                    .col-lg-5.col-sm-6.col-xs-12
                        img(src="img/menu/menu-specialty.jpg" alt="Фірмові страви").img-responsive.img-center.menu-img/
 
                    .col-lg-7.col-sm-6.col-xs-12
                        .menu-box.text-left
                            h3 Фірмові страви
                            p Приємно низька ціна, неповторний аромат та домашній смак приготованих справ, різноманітне меню прийдеться Вам до душі. 
                        a(href="menu-pages/specialty.html").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
                        
                .row.food-menu-item
                    .col-lg-5.col-sm-6.col-xs-12
                        img(src="img/menu/menu-banquet.jpg" alt="Банкетні родзинки").img-responsive.img-center.menu-img/
                    .col-lg-7.col-sm-6.col-xs-12
                        .menu-box.text-left
                            h3 Банкетні родзинки
                            p Приємно низька ціна, неповторний аромат та домашній смак приготованих справ, різноманітне меню прийдеться Вам до душі. 
                        a(href="menu-pages/banquet.html").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше

                .row.food-menu-item
                    .col-lg-5.col-sm-6.col-xs-12
                        img(src="img/menu/menu-soup.jpg" alt="Перші страви").img-responsive.img-center.menu-img/
                    .col-lg-7.col-sm-6.col-xs-12
                        .menu-box.text-left
                            h3 Перші страви
                            p Приємно низька ціна, неповторний аромат та домашній смак приготованих справ, різноманітне меню прийдеться Вам до душі. 
                    a(href="menu-pages/soup.html").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше

                .row.food-menu-item
                    .col-lg-5.col-sm-6.col-xs-12
                        img(src="img/menu/dessert.jpg" alt="Кондвироби та десерти").img-responsive.img-center.menu-img/
                    .col-lg-7.col-sm-6.col-xs-12
                        .menu-box.text-left
                            h3 Кондвироби та десерти
                            p Приємно низька ціна, неповторний аромат та домашній смак приготованих справ, різноманітне меню прийдеться Вам до душі. 
                    a(href="menu-pages/dessert.html").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше

            .row
                .col-sm-6.col-sm-offset-3.text-center.divider
                    img(src="img/divider-up.svg" alt="divider-up.svg")
