<!-- Footer Area Starts -->
footer.main-footer
		.container
			.row
				.col-md-3.col-xs-12
					img(src='img/logo-sytahata.jpg' alt='').img-responsive.img-center-sm.img-center-xs/ 
				.col-md-6.col-xs-12
					ul.list-unstyled.list-inline.page-links.text-center
						li
							a (href="#") Головна
						li 
							a (href="#") Меню                
						li 
							a (href="#") Готель
						li 
							a (href="#") Гід
						li 
							a (href="#") Послуги
						li 
							a (href="#") Контакти

				.col-md-3.col-xs-12
			ul.list-unstyled.list-inline.sm-links.text-right-lg.text-right-md.text-center-sm.text-center-xs
			li
				a.btn.btn-secondary.animation (href="#") 
					i.fa.fa-twitter
			li
				a.btn.btn-secondary.animation (href="#") 
					i.fa fa-facebook

		   
