<!-- Footer Area Starts -->
footer.main-footer
		.container
			.row
				.col-md-3.col-xs-12
					include logo-sytahata.svg
					//- img(src='img/logo-sytahata.svg' alt='#').img-responsive.img-center-sm.img-center-xs/ 
				.col-md-6.col-xs-12
					ul.list-unstyled.list-inline.page-links.text-center
						li
							a(href="#") Головна
						li 
							a(href="#") Меню                
						li 
							a(href="#") Готель
						li 
							a(href="#") Гід
						li 
							a(href="#") Послуги
						li 
							a(href="#") Контакти

				.col-md-3.col-xs-12
			ul.list-unstyled.list-inline.sm-links.text-right-lg.text-right-md.text-center-sm.text-center-xs
			li
				a(href="#").btn.btn-secondary.animation  
					i.fa.fa-twitter
			li
				a(href="#").btn.btn-secondary.animation  
					i.fa.fa-facebook

		   
