.guide.section
	.container
		.row
			
			h1.text-light.no-margin-top.text-center-sm.text-center-xs.section-head Путівник
			p.section-head-content Корчма "Сита Хата" - справжній заміський комплекс, який включає в себе що необхідно для сімейного свята, дня народження, ювілею, весілля, корпоративної вечірки, ділової зустрічі або просто для відпочинку та відновлення своїх сил та душевної рівноваги.
				br
				| Саме тому у нас по-українському смачно та по-французьки вишукано.
			.row.guide-item
				.col-lg-5.col-sm-6.col-xs-12
					img(src="img/court/court-1.jpg" alt="Бізнес-ланч").img-responsive.img-center.guide-img
				
				.col-lg-7.col-sm-6.col-xs-12
					.guide-box.text-left
						h3 Двір
						p Вимощений двір, сцена та великий танцювальний майданчик дозвлить Вам провести як галасліве весілля так і діловий ланч принісши задоволення кожному гостю!
					
					a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
				
			

			.row.guide-item
				.col-lg-5.col-sm-6.col-xs-12
					img(src="img/menu/menu-specialty.jpg" alt="Фірмові страви").img-responsive.img-center.guide-img
				
				.col-lg-7.col-sm-6.col-xs-12
					.guide-box.text-left
						h3 Ресторан
						p Ресторан  відтворив атмосферу доброзичливої украинської хати гоголівських персонажів, і з такою назвою просто зобов'язаний гідно представить українську кухню. Багата палітра національних блюд, від сільських до гетьманських.
					
					a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
				
			

			.row.guide-item
				.col-lg-5.col-sm-6.col-xs-12
					img(src="img/bath/bath-1.jpg" alt="Банкетні родзинки").img-responsive.img-center.guide-img
				
				.col-lg-7.col-sm-6.col-xs-12
					.guide-box.text-left
						h3 Баня
						p Баню в корчмі побудовано за авторським проектом, а інтер'єр виконаний за традицією дерев'яного зруба, не залишать Вас байдужими та обов'язково приведуть до нас знову. Ми зможемо запропонувати Вам всі умови для якісного відпочинку, повноцінного відновлення сил та оздоровлення вашого организму.
					
					a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
				
			

			.row.guide-item
				.col-lg-5.col-sm-6.col-xs-12
					img(src="img/parking/parking-1.jpg" alt="Перші страви").img-responsive.img-center.guide-img
				
				.col-lg-7.col-sm-6.col-xs-12
					.guide-box.text-left
						h3 Стоянка
						p До послуг гостей пропонуємо автостоянку під охороною, користуючись якою, Ви будете спокійні за свій автотранспорт.
					
					a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше

			
		
	