header.main-header
	<!-- Main Menu Starts -->
	nav#nav.main-menu.navbar.flat.navbar-fixed-top
		<!-- Nested Container Starts -->
		.container
			<!-- Nav Header Starts -->
			.navbar-header
				button(type='button' data-toggle='collapse' data-target='#navbar-cat-collapse').btn.btn-navbar.navbar-toggle.collapsed.flat.animation 
				span.sr-only Toggle Navigation
				i.fa.fa-bars
			.col-md-2.col-xs-12
				img(src='img/logo-sytahata.svg' alt='logo').img-responsive.img-center-sm.img-center-xs.logo-img/
				<!-- Nav Header Ends -->
			<!-- Navbar Cat collapse Starts -->
			.collapse.navbar-collapse#navbar-cat-collapse
				ul.nav.navbar-nav.text-uppercase.text-bold
					li.active
						a(href='index.html') Головна
					li
						a(href='menu.html') Меню
					li
						a(href='hotel.html') Готель
					li
						a(href='guide.html') Путівник
					li
						a(href='bath.html') Баня
					li
						a(href='service.html') Послуги
					li
						a(href='guests.html') Наші гості
					li
						a(href='contacts.html') Контакти

