.hotel.section
    .container
        .row
            
            h1.text-light.no-margin-top.text-center-sm.text-center-xs.section-head Готель
            .section-head-content
                p По домашнему уютная обстановка номеров примет в свои обьятья и поможет набратся сил после долгой дороги. Кровати с ортопедическими матрасами помогут вам погрузиться в беззаботное царство Морфея, а проснувшись понять, что усталость отступила или просто осталась в другом измерении.p 
                p Душевые кабинки с гидромассажем в номерах дадут возможность обрести легкость и ощутить прилив сил после утомительного пути.
                p Также в номерах есть спутниковое ТВ которое позволит Вам, оставатся в курсе всех последних мировых новостей, посмотреть любимый фильм или развлекательную программу.
            

            .row.food-menu-item
                .col-lg-5.col-sm-6.col-xs-12
                    img(src="img/hotel/hotel-1.png" alt="hotel-1.png").img-responsive.img-center.hotel-img/
                
                .col-lg-7.col-sm-6.col-xs-12
                    .menu-box.text-left
                        h3 Стандарт
                        p Комфортний однокімнатний номер, призначений для проживання 1-2 осіб.
                        .pull-left
                            a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше 
                        .pull-right
                            p.price 250 грн/доба
                        
            .row.food-menu-item
                .col-lg-5.col-sm-6.col-xs-12
                    img(src="img/hotel/hotel-3.jpg" alt="hotel-3.jpg")
                
                .col-lg-7.col-sm-6.col-xs-12
                    .menu-box.text-left
                        h3 Напівлюкс
                        p Комфортний однокімнатний номер, призначений для проживання 1-2 осіб.
                        p.price 1-2 особи - 300 грн/доба
                        a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
                     
            .row.food-menu-item
                .col-lg-5.col-sm-6.col-xs-12
                    img(src="img/hotel/hotel-4.jpg" alt="hotel-4.jpg").img-responsive.img-center.hotel-img/
                .col-lg-7.col-sm-6.col-xs-12
                    .menu-box.text-left
                        h3 Люкс
                        p Комфортний однокімнатний номер, призначений для проживання 1-2 осіб.
                        p.price 1-2 особи - 350 грн/доба
                        p.price1 додаткове місце - 100 грн/доба
                        a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
                    
                
            

        
    
