// Parallax Section Starts
section.search-area.parallax
    // Nested Container Starts
    .container.text-center
        h2.text-normal Ласкаво просимо до господи
        // Nested Container Ends
// Parallax Section Ends
