section.special-offers.section.parallax
    // Nested Container Starts
    .container
    h1.text-light.no-margin-top.text-center-sm.text-center-xs Спеціальні пропозиції
        // Special Offers Carousel Starts
        #special-offers-carousel.owl-carousel.owl-theme(style="opacity: 1; display: block)
        // Offer Cols Starts
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-1.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-2.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-3.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-4.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-5.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-6.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-7.jpg" alt="#").img-responsive.img-center/
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .offer-col.text-center
        img(src="img/special-offers/special-offers-img-8.jpg" alt="#").img-responsive.img-center
        a(href="#").btn.btn-circle.text-uppercase.text-bold.animation Більше
        .content
            h4 Lorem Ipsum
            h6.text-light
            p.coupon-code.text-uppercase.text-bold Code : 15foodoff
        
        .owl-controls.clickable
        .owl-buttons
            .owl-prev
                i.fa.fa-chevron-left.animation
            .owl-next
                i.fa.fa-chevron-right.animation