// Welcome Section Starts
section.welcome.section
    .container
    // Welcome Content Starts
    .row
        .col-lg-5.col-sm-6.col-xs-12
        .welcome-box.text-center
            h1.text-light Ласкаво просимо
            br
            | до корчми
            br
            | Сита Хата!
            p Корчма "Сита Хата" - справжній заміський комплекс, який включає в себе що необхідно для сімейного свята, дня народження, ювілею, весілля, корпоративної вечірки, ділової зустрічі або просто для відпочинку та відновлення своїх сил та душевної рівноваги.
            p
            a(href="#").btn.btn-secondary.text-bold.text-uppercase.animation Докладніше
        .col-lg-7.col-sm-6.col-xs-12
        img(src="img/welcome-section-img.jpg" alt="").img-responsive.img-center.welcome-img/

    // Food Menu Grid Starts
    .food-menu-grid.row.text-center
        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="menu-pages/lunch.html")
            img(src="img/menu/thumb/menu-grid-thumb-1.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase Бізнес-ланч

        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="menu-pages/specialty.html")
            img(src="img/menu/thumb/menu-grid-thumb-2.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase Фірмові страви

        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="menu-pages/banquet.html")
            img(src="img/menu/thumb/menu-grid-thumb-3.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase Банкетні родзинки

        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="menu-pages/soup.html")
            img(src="img/menu/thumb/menu-grid-thumb-4.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase Перші страви

        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="menu-pages/dessert.html")
            img(src="img/menu/thumb/menu-grid-thumb-5.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase Кондвироби та десерти

        .col-md-4.col-sm-6.col-xs-12
        .hover-content
            a(href="#")
            img(src="img/menu/thumb/menu-grid-thumb-6.jpg" alt="").img-responsive.animation/
            .overlay.animation
                h4.text-uppercase
<!-- Welcome Section Ends -->