header.main-header
  .logo
    width: 200px
    display: inline-block
    a
      margin: 0 auto
      max-width: 300px
      display: block

.main-menu
  margin-bottom: 0
  background-color: $color-secondary
  height: 56px
	
#nav
  li
    a
      padding: 18px 20px
      color: #ffffff
      font-family: "Open Sans", sans-serif
      &:hover
        color: $color-green
        background-color: $color-white

.navbar-collapse.collapse
  text-align: center

.navbar-brand
  width: 200px
  height: auto
  padding: 3px 0

.navbar-nav
  float: none
  display: inline-block