header.main-header
  .logo-img
    padding: 4px 0
    
.main-menu
  margin-bottom: 0
  background-color: $color-secondary
  
#nav
  li
    a
      padding: 15px 20px
      color: #ffffff
      font-family: "Open Sans", sans-serif
      &:hover
        color: $color-green
        background-color: $color-white

.navbar-collapse.collapse
  text-align: center

.navbar-nav
  float: none
  display: inline-block